<div class="flex justify-center items-center mt-12">
  <h1 class="text-2xl">Ajouter une spécialité</h1>
</div>
<form class="w-full max-w-lg mx-auto mt-5">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-specialite"
      >
        Spécialité
      </label>
      <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
        id="grid-specialite"
        type="text"
        placeholder="Informatique"
      />
    </div>
  </div>
  <div class="flex justify-center">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5"
      type="submit"
    >
      Ajouter
    </button>
  </div>
</form>
